

<div class="col-md-6 mx-auto">
    <h3 class="text-center">Registro de empleado</h3>
    <form (ngSubmit)="secuenciaActualizar(empleado.id)">
        <div class="form-group m-3">
            <label class ="mb-2">Nombre :</label>
            <input type="text"
            class="form-control"
            id = "nombre"
            [(ngModel)]="empleado.name"
            name = "nombre">
        </div>
        <div class="form-group m-3">
            <label class ="mb-2">Apellidos :</label>
            <input type="text"
            class="form-control"
            id = "apellidos"
            [(ngModel)]="empleado.apellidos"
            name = "apellidos">
        </div>
        <div class="form-group m-3">
            <label class ="mb-2">Email :</label>
            <input type="email"
            class="form-control"
            id = "email"
            [(ngModel)]="empleado.email"
            name = "email">
        </div>
        <div class="form-group m-3">
            <label class="mb-2">Fecha de inicio :</label>
            <input type="date" 
                   class="form-control" 
                   id="fechaInicio" 
                   [(ngModel)]="empleado.fechaInicio" 
                   name="fechaInicio">
        </div>
        <div class="form-group m-3">
            <label class ="mb-2">Departamento :</label>
            <input type="departamento"
            class="form-control"
            id = "departamento"
            [(ngModel)]="empleado.departamento"
            name = "departamento">
        </div>
        <div class="form-group m-3">
            <label class ="mb-2">Categoría :</label>
            <input type="categoria"
            class="form-control"
            id = "categoria"
            [(ngModel)]="empleado.categoria"
            name = "categoria">
        </div>
        <div class="form-group m-3">
            <label class="mb-2">URL de la imagen :</label>
            <input type="text" 
                   class="form-control" 
                   id="imageUrl" 
                   [(ngModel)]="empleado.imageUrl" 
                   name="imageUrl">
        </div>
        <div class="button-container">
            <button class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
            <button class="btn btn-danger" (click)="eliminarE(empleado.id)">Eliminar</button>
          </div>
        
        

    </form>
    <!-- <button (click)="eliminarE(empleado.id)" class="btn btn-danger" style="margin-left : 10px">Eliminar</button> -->
</div>

