
<div style="margin-bottom: 20px" >
<h2>Lista de empleados</h2>
</div>
<div style="margin-bottom: 20px; margin-top: 20px" >
    <input [(ngModel)]="filtro" placeholder="Buscar empleados" class="form-control" style="width: 33.33%;">
  </div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellidos</th>
            <th>email</th>
            <th>fecha Inicio</th>
            <th>departamento</th>
            <th>categoría</th>
            <th>imagen</th>
            <th>acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of displayedEmpleados">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.apellidos}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.fechaInicio}}</td>
            <td>{{employee.departamento}}</td>
            <td>{{employee.categoria}}</td>
            <td>
                <img [src]="employee.imageUrl" alt="Imagen del empleado" height="100">
            </td>
             <td>
                <button (click)="actualizarEmpleado(employee.id)" class="btn btn-info">Actualizar</button> 
                 <button (click)="eliminarEE(employee.id)" class="btn btn-danger" style="margin-left : 10px">Eliminar</button> 
                <!-- <button (click)="verD(employee.id)" class="btn btn-primary" style="margin-left : 10px">Detalles</button> -->
                <!-- <button (click)="crearLaptopId(employee.id)" class="btn btn-secondary" style="margin-left : 10px">Añadir Laptop</button>
                <button (click)="crearSmartphoneId(employee.id)" class="btn btn-success" style="margin-left : 10px">Añadir Smartphone</button> -->
                <button (click)="verDispositivos(employee.id)" class="btn btn-warning" style="margin-left : 10px">Ver dispositivos</button>
            </td> 
        </tr>
    </tbody>

</table>
<div class="d-flex justify-content-between" style="margin-bottom: 20px;">
     <button (click)="crearEmpleado()" class="btn btn-primary"  style="margin-left : 10px">Nuevo empleado</button> 
     <button routerLink="/portada" class="btn btn-secondary" style="margin-right : 10px">Volver</button>
    </div>

    <mat-paginator [length]="totalLength" [pageSize]="pageSize" (page)="changePage($event)">
    </mat-paginator>
