<div class="col-md-6 mx-auto">
    <h3 class="text-center">Registro de laptop</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group m-3">
            <label class ="mb-2">Modelo :</label>
            <input type="text"
            class="form-control"
            id = "model"
            [(ngModel)]="laptop.model"
            name = "model">
        </div>
        <div class="form-group m-3">
            <label class="mb-2">Marca :</label>
            <select class="form-select" aria-label="Default select example" id="marca" [(ngModel)]="laptop.marca" name="marca">
                <option selected disabled>Seleccione marca</option>
                <option value="Apple">Apple</option>
                <option value="Lenovo">Lenovo</option>
                <option value="Acer">Acer</option>
                <option value="HP">HP</option>
                <option value="DELL">DELL</option>
            </select>
          </div>
        <div class="form-group m-3">
            <label class="mb-2">Empleado :</label>
            <select class="form-select" aria-label="Default select example" id="empleado" [(ngModel)]="laptop.userId" name="empleado">
                <option selected disabled>Seleccione empleado</option>
                <option *ngFor="let empleado of empleados" [value]="empleado.id">
                {{empleado.id}} - {{empleado.name}} {{empleado.apellidos}}
              </option>
            </select>
          </div>
        <button class="btn btn-success m-3">Guardar</button>
        <button type="button" class="btn btn-danger m-3" (click)="irALaListaDeLaptops()">Cancelar</button>

    </form>
</div>

