server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: gateway-jar
          uri: https://github.com/anpeni/microservicios-app
          search-paths: config-data
  application:
    name: config-service
