<nav class="navbar navbar-expand-sm bg-dark navbar-dark my-navbar">
  <a class="navbar-brand logo-container" routerLink="/portada" style="margin-left: 30px;">
    <img src="assets/logo_spring_01.png" alt="logo" style="width:200px;">
  </a>
  <a class="navbar-brand logo-container"  href="http://localhost:8761">
    <img src="assets/eureka_spring.png" alt="logo" style="width:200px;">
  </a>
  <a class="navbar-brand logo-container"  href="http://localhost:16686">
    <img src="assets/jaeger_spring.png" alt="logo" style="width:80px;">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="empleados" routerLinkActive="active" class="btn btn-link nav-link">Lista de empleados</a>
    </li>
    <li class="nav-item">
      <a routerLink="laptops" routerLinkActive="active" class="nav-link">Lista laptop</a>
    </li>
    <li class="nav-item">
      <a routerLink="smartphones" routerLinkActive="active" class="nav-link">Lista smartphone</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
  <router-outlet />
</div>